<div class="container">
  <section>
    <h2>What's going on here?</h2>
    <p>Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps, websites, hardware projects, and tech creations.</p>

    <p>You can read more about our story on <a href="http://pando.com/2013/12/04/can-the-democratic-power-of-a-platform-like-hacker-news-be-applied-to-products/" target="_blank">PandoDaily</a>, <a href="http://www.fastcolabs.com/3023152/open-company/the-wisdom-of-the-20-minute-startup" target="_blank">Fast Company</a>, <a href="http://techcrunch.com/2014/06/04/product-hunt-is-the-social-news-site-of-tech-products-read-by-influential-people/" target="_blank">TechCrunch</a>, <a href="http://thenextweb.com/insider/2014/06/05/product-hunt-is-leveling-the-playing-field-to-help-good-apps-and-startups-get-attention/" target="_blank">The Next Web</a>, <a href="http://www.businessinsider.com/product-hunt-2014-6" target="_blank">Business Insider</a>, <a href="http://www.foxbusiness.com/on-air/risk-and-reward/index.html#/v/3639940132001" target="_blank">Fox Business</a>, and <a href="http://www.forbes.com/sites/sethporges/2014/07/03/the-creator-of-product-hunt-spills-the-hit-sites-dirty-details" target="_blank">Forbes</a>.</p>
  </section>

  <section>
    <h2>Can I submit a product?</h2>
    <p>Sure thing! After logging in, click the "Post a Product" link in the header and submit the product's URL, name, and tagline. Each post should include the:</p>

    <ul>
      <li>URL - Direct link to the product page (avoid links to press or blogs)</li>
      <li>Product Name</li>
      <li>Tagline - Very short description of the product (make it catchy!)</li>
    </ul>

    <p>Here are a few examples:</p>

    <ul>
      <li><a href="http://mindie.co" target="_blank">Mindie</a> - 7-Second Music Videos</li>
      <li><a href="http://www.hatchpet.com/" target="_blank">Hatch</a> - Tamagotchi 2.0</li>
      <li><a href="https://www.moveloot.com/" target="_blank">Move Loot</a> - The easiest way to buy and sell used furniture</li>
    </ul>

    <p>If the product hasn't been submitted before, it will be queued up for review. Note that not every post will surface on the homepage as hundreds of products are submitted each day and curated by the community.</p>

    <h2>What kind of products do you allow on Product Hunt?</h2>
    <p>Product Hunt is for sharing new, interesting products. It isn't the place for blog posts, news articles, events, or contract services.</p>
  </section>

  <section>
    <h2>Do you accept submissions for unreleased products?</h2>
    <p>We encourage people to submit launched products that are available to play with immediately; however, the occasional crowdfunded, pre-launch, or private beta submission is acceptable if it provides thorough information about the product (e.g. explainer video, product feature walkthrough) and proof that it's not vaporware. That said, we may remove pre-launch submissions and recommend founders to wait until their product has launched before submitting.</p>
  </section>

  <section>
    <h2>What about products that have been around a while?</h2>
    <p>People visit Product Hunt to discover new things. While most submissions should be for new products, occasionally lesser known hunts are equally loved. Since "new" is subjective, we reserve the right to remove submissions that may be well known within the community.</p>
  </section>

  <section>
    <h2>May I post updates for products previously submitted?</h2>
    <p>Product updates must be substantial, such as the launch of a mobile app or complete product redesign with new functionality, to be considered for resubmission.</p>
  </section>

  <section>
    <h2>How are products ranked?</h2>
    <p>Every day, new products are submitted and upvoted by the community, ranked by the number of upvotes, time since submission, and other factors.</p>
  </section>

  <section>
    <h2 id="why-cant-i-comment">I really want to join the conversation. Why can't I comment?</h2>
    <p>Anyone can submit and upvote products; however, Product Hunt isn't prepared to open the discussion to the world. We're working hard to scale the product and team so that more product-loving folks can join the conversation. Meanwhile, we're giving existing members in the community the ability to recommend new members to join.</p>
  </section>

  <section>
    <h2>How do recommendations work?</h2>
    <p>Each week recommendations are awarded to the most engaged and thoughtful contributors based on a variety of factors. Those with recommendations available can invite others to join the conversation by submitting their Twitter username on the <a href="http://www.producthunt.com/user/recommendations">Recommendation page</a>.</p>
  </section>

  <section>
    <h2>My product is on Product Hunt. How can I join the discussion?</h2>
    <p>Log in with your personal Twitter account under your name, and <a href="https://twitter.com/intent/tweet?text=.%40ProductHunt%2C%20%5Binsert%20your%20product%20name%5D%20is%20on%20Product%20Hunt%20today.%20Can%20I%20have%20commenting%20access%20please%3F%20%5Bplease%20link%20to%20your%20product%20on%20PH%5D" target="_blank">shoot us a tweet at @ProductHunt</a> so we can give you access. Once you're in, feel free to briefly introduce yourself in the comments. Pro tip: those that answer questions and actively engage in the discussion (examples <a href="http://www.producthunt.com/posts/inside-2-0" target="_blank">here</a>, <a href="http://www.producthunt.com/posts/sunrise-for-mac" target="_blank">here</a>, and <a href="http://www.producthunt.com/posts/shadow" target="_blank">here</a>) tend to get more attention and appreciation from the community.</p>
    <h2>May I ask people to upvote for my product?</h2>
    <p>Please don’t. People should upvote things they genuinely like or find interesting, not because they were peer pressured to do so. Feel free to spread the word and bring friends into the discussion, but asking or incentivizing people to upvote may trigger the algorithm to drop the product in the ranks or remove it from the front page entirely.</p>
  </section>

  <section>
    <h2>What does the "M" badge represent?</h2>
    <p>Founders and makers of the product often join the conversation, answering questions and sharing their story. These people are highlighted with a fancy, green "M" badge.</p>
  </section>

  <section>
    <h2>What are Product Hunt exclusives?</h2>
    <p>You may have noticed a golden star next to products featured on the site (<a href="http://www.producthunt.com/posts/hatch-3">Hatch</a>, for example), highlighting exclusive pre-release access or discounts just for product hunters.  If you're launching a product and interested in offering something special to the community, drop us a line at <a href="mailto:exclusives@producthunt.com">exclusives@producthunt.com</a></p>
  </section>

  <section>
    <h2>Where are my keys?</h2>
    <p>Sorry but we can't help you with that. You'll have to hunt this down yourself.</p>
  </section>

  <section>
    <h2>Where are the easter eggs!?</h2>
    <p>Well if we straight up told you, it wouldn't really be an easter egg, would it? <a href="https://twitter.com/ProductHunt/status/490546158893543425">Here's a hint</a>. ;)</p>
  </section>

  <section>
    <h2>Where can I download brand assets to use on my site or article?</h2>
    <p>If your product was featured on Product Hunt or if you're writing an article about our little piece of the internet, we have vertical and horizontal logos and logo marks in orange, dark gray, and light gray <a href="https://s3.amazonaws.com/producthunt/ph_brand_assets.zip" class="brand-assets-link" target="_blank">available for download.</a></p>
  </section>

  <section>
    <h2>How can I reach you?</h2>
    <p>Feel free to reach us by email at <a href="mailto:hello@producthunt.com" target="_blank">hello@producthunt.com</a> or on Twitter (<a href="http://twitter.com/producthunt" target="_blank">@ProductHunt</a>).</p>
  </section>

  <section>
    <h2>Is there a Product Hunt mobile app?</h2>
    <p>You bet! We have a lovely <a href="http://www.producthunt.com/apps/ios" target="_blank">iOS app available now</a> and plans to release an Android app in the future (sorry, no ETA yet!).</p>
  </section>

  <section>
    <h2>I want to build something rad with Product Hunt. Do you have an API?</h2>
    <p>Not yet but we're getting close! If you're interested in getting early access to the Product Hunt API, <a href="https://rrhoover.typeform.com/to/U49PTQ" target="_blank">please submit your information here</a>.</p>
  </section>

  <section>
    <h2>I'm hiring. May I advertise on Product Hunt?</h2>
    <p>Absolutely. The Product Hunt audience is global, with talent in marketing, engineering, product management, design, and more. Job opportunities are promoted on the <a href="http://www.producthunt.com/jobs" target="_blank">Jobs Board</a> in addition to the the email digest. Contact us at <a href="mailto:talent@producthunt.com" target="_blank">talent@producthunt.com</a> for more information.</p>
  </section>

  <section>
    <h2>Where can I find your Privacy Policy and Terms of Service?</h2>
    <p>For your reading pleasure, review our <a href="http://www.producthunt.com/privacy">Privacy Policy</a> and <a href="http://www.producthunt.com/tos">Terms of Service</a>.</p>
  </section>

  <section>
    <h2>Who's behind Product Hunt?</h2>
    <p>Product Hunt is crafted with care by
      <a href="https://twitter.com/eriktorenberg" target="_blank">Erik Torenberg</a>,
      <a href="http://twitter.com/andreasklinger" target="_blank">Andreas Klinger</a>,
      <a href="https://twitter.com/davidkmckinney" target="_blank">David McKinney</a>,
      <a href="https://twitter.com/Jonnotie" target="_blank">Jonno Reikwel</a>,
      <a href="https://twitter.com/LukasFittl" target="_blank">Lukas Fittl</a>,
      <a href="https://twitter.com/NikkiElizDemere" target="_blank">Nichole Elizabeth DeMeré</a>,
      <a href="http://twitter.com/rstankov" target="_blank">Radoslav Stankov</a>,
      <a href="http://twitter.com/riccardoar" target="_blank">Riccardo Arvizzigno</a>,
      <a href="http://ryanhoover.me" target="_blank">Ryan Hoover</a> and
      <a href="http://twitter.com/zackshapiro" target="_blank">Zack Shapiro</a>.
      <a href="https://rrhoover.typeform.com/to/zdI3DK">Want to join the team?</a>
    </p>
    <p>Special thanks to
        <a href="http://yakshaving.net/" target="_blank">Ash Bhoopathy</a>,
        <a href="http://twitter.com/nbashaw" target="_blank">Nathan Bashaw</a> and
        <a href="http://twitter.com/shedd" target="_blank">Robert Shedd</a>
        for the help, early on. :grinning:
    </p>
  </section>

  <br>
  <a href="/" class="button">Back to Product Hunt</a>
  <br><br><br>
</div>