<div class="user-heading">
  <a href="#"><%= gravatar_for @user, 200 %></a>
  <h2 class="user-name"><%= @user.coy %></h2>
  <p class="subtitle"><%= @user.title %></p>
  <p class="join-date">User #<%= @user.id %></p>
</div>

<div class="posts">
  <ul class="posts-group">
  </ul>
</div>

<div id="showuser_end">Hunting down older posts...</div>

