.signup-prompt{:style => "display: none;"}
  .modal-bg.close-signup-prompt
  .modal-body
    %h2 Hey there! Please log in before posting a product.
    %a.button{:href => new_user_session_path} Sign in