%a{"data-dropdown-trigger" => "more-menu", "data-target" => "#"} More
.dropdown-menu.dropdown-menu-more{"data-dropdown-menu" => "more-menu"}
  %ul.dropdown-menu-list
    %li.dropdown-menu-promo
      %span
        %a{:href => "#"}
          %img{:alt => "Lean startup tools nav", :src => "https://s3.amazonaws.com/ph-s3/list-assets/lean-startup-tools-nav.png"}/
    %li
      %a{:href => "#"} Meetups
    %li
      %a{:href => "#"} Radio
    %li
      %a{:href => "#"} Jobs
    %li
      %a{:href => "#", :target => "_blank"} Blog
    %li
      %a{:href => "#"} App