<a data-target="#" data-dropdown-trigger="more-menu">More</a>
<div class="dropdown-menu dropdown-menu-more" data-dropdown-menu="more-menu">
  <ul class="dropdown-menu-list">
    <li class="dropdown-menu-promo">
      <span>
        <a href="#">
          <img alt="Lean startup tools nav" src="https://s3.amazonaws.com/ph-s3/list-assets/lean-startup-tools-nav.png">
        </a>
      </span>
    </li>
    <li><a href="#">Meetups</a></li>
    <li><a href="#">Radio</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#" target="_blank">Blog</a></li>
    <li><a href="#">App</a></li>
  </ul>
</div>