%div{"data-tooltip-container" => "true", :style => "top: 471px; left: 933px;"}
  .tooltip-content
    .user-hover-card
      %a{:href => "/albn"}
        %img.twitter-rounded.user-image{:alt => "Adxqkzya", :height => "80", :src => "https://pbs.twimg.com/profile_images/518444697321103360/aDxqKZya.jpeg", :width => "80"}/
      %h3 alban
      %h4.user-headline CEO, Sketchfab
      %h4.user-username
        %a{:href => "/albn"} @albn
.posts
  .day.today
    - @posts.each do |day, posts|

      %time.date{:datetime => Date.parse(day)}
        %h4.day-name
        %h4.day-name 
          =date_name(h day)
        =  Date.parse(day).strftime("%B %d")
      %ul.posts-group
        - posts.each do |post|          
          %li.post
            .upvote{"data-id" => post.id, "data-type" => "post"}
              %a.upvote-link{:href => "#"}
              %span.vote-count{"data-id" => post.id} 0
            .url
              =link_to post.name, post.url, :target => "_blank", :class => "post-url title"
              .maker
                %a.maker-badge{:href => "#"}
                .maker-tooltip
                  %span.user-name
                    The maker of this product joined the comments
              %span.post-tagline.description
                = post.description
            %a.view-discussion{"data-id" => post.id, "data-url" => "/posts/takes-io", :href => "/posts/takes-io"}
              =image_tag("/assets/comment.png", :class => "comment-image")
              %p.comment-count 0
            .user-image-holder
              =link_to gravatar_for(post.user, 32), user_path(post.user)
                
              %div{"data-tooltip-container" => "true", :class => "data-tooltip-container"}
                .tooltip-content
                  .user-hover-card
                    =link_to gravatar_for(post.user, 80), user_path(post.user)
                      
                    %h3 
                      = post.user.coy
                    %h4.user-headline 
                      = post.user.title
            %br/

/ %div{"data-tooltip-container" => "true", :class => "data-tooltip-container"}
/   .tooltip-content
/     .user-hover-card
      