%svg.brand--logo{:height => "30px", :version => "1.1", :viewbox => "0 0 30 30", :width => "30px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
  %g#Page-1{:fill => "none", "fill-rule" => "evenodd", "sketch:type" => "MSPage", :stroke => "none", "stroke-width" => "1"}
    %circle#Oval-1{:cx => "15", :cy => "15", :fill => "#DA552F", :r => "15", "sketch:type" => "MSShapeGroup"}
    %path#P{:d => "M13.944,21 L13.944,17.192 L16.698,17.192 C19.248,17.192 20.642,15.475 20.642,13.435 C20.642,11.378 19.248,9.661 16.698,9.661 L11.02,9.661 L11.02,21 L13.944,21 Z M16.256,14.642 L13.944,14.642 L13.944,12.211 L16.256,12.211 C17.038,12.211 17.667,12.653 17.667,13.435 C17.667,14.2 17.038,14.642 16.256,14.642 Z", :fill => "#FFFFFF", "sketch:type" => "MSShapeGroup"}
%h1.show.show-1.shown Welcome to the Hunt
%p.show.show-2.shown This humble piece of internet was created for product people like you
%p.show.show-3.shown To geek out and discover new, interesting products
%p.show.show-4.shown So without further ado, welcome to the club, and happy hunting :)
.show.show-5.shown
  %h5 Tell us a bit about yourself, then you can join the hunt!
  %form#edit_user_87499.edit_user{"accept-charset" => "UTF-8", :action => "/user/settings/save_welcome", :method => "post"}
    %div{:style => "display:none"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "_method", :type => "hidden", :value => "patch"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "DeelneQivQp5UNZ2u2IHl1jByIXHE4PNa9Qc3+SE39k="}/
    %input#welcome_email_input{:name => "user[email]", :placeholder => "Email address", :type => "email"}/
    %input#user_headline{:maxlength => "40", :name => "user[headline]", :placeholder => "Job title, company name", :size => "40", :type => "text"}/
    %input{:name => "commit", :type => "submit", :value => "Continue"}/
  .tos-and-privacy
    continue if you agreee to our
    %a{:href => "http://www.producthunt.com/tos", :target => "_blank"} Terms
    and
    %a{:href => "http://www.producthunt.com/privacy", :target => "_blank"} Privacy